@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.woff2);
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.woff2);
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Black.woff2);
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Light.woff2);
    font-weight: 200;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-white: #ffffff;
    --color-blue: #006690;
    --color-yellow: #E9D985;
    --color-dark: #222E50;
}

header {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.6), rgba(43, 45, 46, 0.6)), url(../images/backImage.jpg);
    height: 600px;
    background-repeat:no-repeat;
    background-position: center center;
}

header article.header {
    padding: 20px 250px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    column-gap: 160px;
}

header article.header>div {
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: var(--color-white);
    font-size: 16px;
    font-family: 'Montserrat';
}

header article.header nav {
    justify-self: center;
}

header article.header nav ul {
    display: flex;
    column-gap: 50px;
}

header article.header nav ul li {
    list-style-type: none;
}

header article.header nav ul li a {
    text-decoration: none;
    color: var(--color-yellow);
    font-size: 16px;
    font-family: 'Montserrat';
}

header article.header a {
    text-decoration: none;
    justify-self: end;
    font-weight: 600;
    color: var(--color-white);
    font-size: 16px;
    font-family: 'Montserrat';
}

header article.footer {
    padding: 30px 250px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header article.footer span {
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    color: var(--color-yellow);
    align-self: center;
}

header article.footer div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

header article.footer div a {
    display: block;
    width: 340px;
    height: 220px;
}

header article.footer div a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main section.korotko {
    padding: 50px 250px;
    display: grid;
    justify-items: center;
    background-color: var(--color-blue);
    row-gap: 40px;
}

main section.korotko span {
    color: var(--color-yellow);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Montserrat';
}

main section.korotko p {
    font-family: 'Montserrat';
    font-size: 20px;
    color: var(--color-yellow);
    width: 97%;
}

main section.animals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 265px;
    background-color: var(--color-dark);
    justify-items: center;
    padding: 50px 250px 228px 250px;
}

main section.animals span {
    color: var(--color-yellow);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Montserrat';
    grid-column: 1/3;
}

main section.animals article {
    display: grid;
    justify-items: center;
    padding: 50px 0 0 0;
}

main section.animals article h3 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: var(--color-yellow);
    padding-bottom: 60px;
}

main section.animals article div {
    width: 582px;
    height: 366px;
}

main section.animals article div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section.animals article p {
    padding: 22px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: var(--color-yellow);
    text-align: center;
}

main section.animals article p.small {
    padding: 22px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: var(--color-yellow);
    text-align: center;
}

footer {
    padding: 20px 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--color-blue);
}

footer div.social {
    display: grid;
    grid-template-columns: repeat(4, 32px);
    column-gap: 25px;
    row-gap: 20px;
    justify-items: center;
}

footer div.social span {
    grid-column: 1/5;
    font-size: 20px;
    font-family: 'Montserrat';
    color: var(--color-yellow);
}

footer h4 {
    font-size: 20px;
    font-family: 'Montserrat';
    color: var(--color-yellow);
    display: flex;
    align-items: center;
    align-self: end;
}

footer div.nimber {
    display: grid;
    row-gap: 32px;
    font-size: 20px;
    font-family: 'Montserrat';
    color: var(--color-yellow);
}